<button class="btn btn-info btn-sign-in" (click)="openModal(content)">Sign in</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Please Sign In</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="login">Login</label>
        <div class="input-group">
          <input id="login" class="form-control" name="login" [(ngModel)]="login">
        </div>
        <label for="password">Password</label>
        <div class="input-group">
          <input id="password" class="form-control" name="password" type="password" [(ngModel)]="password">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close({login: login, password: password})">Sign In</button>
  </div>
</ng-template>
